

    {% for product in products %}

        <div class="card-design m-4" style="width: 25rem;">
            <a href="{{ path('app_product_read', {'id': product.id}) }}"><img src="{{ product.image }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <div class="card-title d-flex mb-3">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <small class="card-title text-primary">({{ product.category.name }})</small>
                </div>
                <p class="card-text">{{ product.excerpt }}</p>
                <div class="d-flex justify-content-between">
                {% if product.status == 1 %}
                    <small class="text-success">En stock</small>
                {% endif %}
                {% if product.status == 2 %}
                    <small class="text-danger">Indisponible</small>
                {% endif %}
                {% if product.status == 3 %}
                    <small class="text-warning">Bientôt disponible</small>
                {% endif %}
                    <div class="d-flex justify-content-end"><a href="{{ path('app_product_addCart', {'id': product.id}) }}" class="btn btn-secondary">Ajouter au panier</a></div>
                </div>
            </div>
        </div>

    {% endfor %}
