{% for product in products %}

	<div class="card-design m-4" style="width: 25rem;">
		{% if product.image %}
			<a href="{{ path('app_product_read', {'id': product.id}) }}"><img src="{{ product.image }}" class="card-img-top" alt="..." id="img-card"></a>
		{% else %}
			<a href="{{ path('app_product_read', {'id': product.id}) }}"><img src="https://propertywiselaunceston.com.au/wp-content/themes/property-wise/images/no-image.png" class="card-img-top" id="img-card" alt="..."></a>
		{% endif %}
		<div class="card-body">
			<div class="card-title d-flex mb-3">
				<h5 class="card-title mt-3">{{ product.name }}</h5>
				<small class="card-title text-primary mt-3">({{ product.category.name }})</small>
			</div>
			<p class="card-text">{{ product.excerpt|raw }}</p>
			<div class="d-flex justify-content-between">
				{% if product.status == 1 %}
					<small class="text-success">En stock</small>
					<div class="d-flex justify-content-end">
						<a href="{{ path('app_product_addCart', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
					</div>
				{% endif %}
				{% if product.status == 2 %}
					<small class="text-danger">Indisponible</small>
					<div class="d-flex justify-content-end">
						<a href="#" class="btn btn-secondary">Rupture de sotck</a>
					</div>
				{% endif %}
				{% if product.status == 3 %}
					<small class="text-warning">Bientôt disponible</small>
					<div class="d-flex justify-content-end">
						<a href="#" class="btn btn-secondary">Rupture de stock</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endfor %}

